@font-face {
    font-family: 'TT Drugs Trial Bold';
    src: url('./TTDrugsBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Drugs Trial Regular';
    src: url('./TTDrugsRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Drugs Trial Black';
    src: url('./TTDrugsBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HTOWERT';
    src: url('./HTOWERT.TTF') format('truetype');
}

@font-face {
    font-family: 'Old Figaro Cursive';
    src: url('./OldFigaroCursive.ttf') format('truetype');
}

@font-face {
    font-family: 'Aaargh';
    src: url('./Aaargh.ttf') format('truetype');
}